body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
}

header {
  text-align: center;
  margin-bottom: 20px;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

#header {
  font-size: 3em;
  font-weight: bold;
}

#emoji {
  font-size: 4em;
  animation: bounceUpDown 4s infinite;
}

nav {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 8px;
  background-color: #3498db;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.5s, transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

.white-button {
  background-color: #fff;
  color: #333;
}

@keyframes bounceUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  #header {
    font-size: 2em;
  }

  #emoji {
    font-size: 3em;
  }

  .button {
    padding: 10px 20px;
  }
}
